In [1]:
import pandas as pd
import numpy as np

# New Section

Loading Dataset

In [2]:
dataset=pd.read_csv('/content/diabetes.csv')
print("Shape of the Dataset=",dataset.shape)
dataset

Shape of the Dataset= (768, 9)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

Converting Dataset into features and output

In [3]:
x=dataset.drop('Outcome', axis='columns')
y=dataset.Outcome

In [4]:
x.columns[x.isna().any()]

Index([], dtype='object')

Splitting Dataset into Test and Train

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)
x_train=x_train.to_numpy()
x_test=x_test.to_numpy()
y_test=y_test.to_numpy()
y.train=y_train.to_numpy()

type(x_train)
x_test

array([[  1.   , 149.   ,  68.   , ...,  29.3  ,   0.349,  42.   ],
       [  0.   , 107.   ,  76.   , ...,  45.3  ,   0.686,  24.   ],
       [  0.   , 124.   ,  56.   , ...,  21.8  ,   0.452,  21.   ],
       ...,
       [  1.   , 130.   ,  60.   , ...,  28.6  ,   0.692,  21.   ],
       [  2.   , 109.   ,  92.   , ...,  42.7  ,   0.845,  54.   ],
       [  1.   ,  91.   ,  54.   , ...,  25.2  ,   0.234,  23.   ]])

Naive Bayes

In [6]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [7]:
from sklearn.metrics import accuracy_score
GaussianNB_accuracy=accuracy_score(y_pred,y_test)

SVM

In [8]:
from sklearn import svm
classifier=svm.SVC(kernel='linear')
classifier.fit(x_train,y_train)
xsvm_pred=classifier.predict(x_test)
svm_accuracy=accuracy_score(xsvm_pred,y_test)

print("Accuracy of svm=",svm_accuracy)
print("Accuracy of Naive Byes=",GaussianNB_accuracy)

Accuracy of svm= 0.765625
Accuracy of Naive Byes= 0.7552083333333334

Best algo

In [9]:

BEST_CASE=0
if(svm_accuracy>GaussianNB_accuracy):
   Best_accuracy=svm_accuracy
   print("Best Algo is SVM")
   BEST_CASE=1
else:
    Best_accuracy=GaussianNB_accuracy 
    print("Best Algo is NB")
    BEST_CASE=2

Best Algo is SVM

Prediction On User Input

In [ ]:

lst=[]
list1=[lst]
for i in range(0, 8):
    if(i==0):
       print("Enter Pregnancies")
       ele=int(input())  
    if(i==1):
       print("Enter Glucose") 
       ele=int(input()) 
    if(i==2):
       print("Enter BloodPressure") 
       ele=int(input()) 
    if(i==3):
       print("Enter SkinThickness") 
       ele=int(input()) 
    if(i==4):
       print("Enter Insulin")  
       ele=int(input())
    if(i==5):
       print("Enter BMI")
       ele=float(input())  
    if(i==6):
       print("Enter DiabetesPedigreeFunction")
       ele=float(input())  
    if(i==7):
       print("Enter age") 
       ele=int(input()) 
    lst.append(ele)
user_val = np.array(list1)

user_val.shape

Enter Pregnancies

Predicting

In [ ]:
if(BEST_CASE==2):
  user_pred=model.predict(user_val)
else:
  user_pred=classifier.predict(user_val)


if(user_pred==1):

  print("Person Is Diabetic")
else:
  print("Person is not Diabetic")  

@anvil.server.callable
def predict_iris(a,b,c,d,e,f,g,h):
  classification =model.predict([[a,b,c,d,e,f,g,h]])
  if(classification==1):
     return "Diabetic"
  else:
     return "Not Diabetic"